include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE
include pyproject.toml
include tox.ini
include *.yml
include *.yaml
include *.txt
include .gitmodules
include .mailmap

recursive-include macro_lightning *.pyx *.c *.pxd *.png
recursive-include docs *
recursive-include licenses *
recursive-include scripts *

exclude macro_lightning/version.py
exclude requirements.txt
exclude docs/papers_and_presentations/paper/.git

prune docs/papers_and_presentations/paper
prune references
prune notebooks
prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o *.DS_Store *.ipynb_checkpoints/*
