###### Requirements without Version Specifiers ######`
matplotlib
numpy
pytest
pytest-astropy
pytest-mpl
tqdm
typing_extensions
utilipy

###### Requirements with Version Specifiers ######`
astropy >= 4.0